# Core RL and environment
swig
gymnasium[classic-control,other,box2d]
stable-baselines3
huggingface_hub
tensorboard

# Video and image processing
opencv-python
imageio[ffmpeg]

# Jupyter/IPython and dependencies
ipykernel
jupyter-client
ipywidgets

# Dev & testing
pytest
